@model Pacote

<h1>Atualização de pacote </h1>

<form action="/Pacote/SalvarAtualizar" method="POST">

    <input type="hidden" asp-for="IdPacote">
        <div class="form-group">
            <label asp-for="NomePacote">Nome do pacote:</label>
            <input asp-for="NomePacote" class="form-control">
        </div>
        <div class="form-group"></div>
            <label asp-for="OrigemPacote">Origem do pacote:</label>
            <input asp-for="OrigemPacote" class="form-control">
        <div class="form-group"></div>
            <label asp-for="DestinoPacote">Destino do pacote:</label>
            <input asp-for="DestinoPacote" class="form-control">
        <div class="form-group"></div>
            <label asp-for="Atrativos">Atrativos:</label>
            <input asp-for="Atrativos" class="form-control">
        <div class="form-group">
            <label asp-for="Saida">Saída:</label>
            <input asp-for="Saida" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Retorno">Retorno:</label>
            <input asp-for="Retorno" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="IdUser">Usuário:</label>  
            <input asp-for="IdUser">
        </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-success">
        </div>

</form>