
<div class="row">
    <div class="col-6 d-flex justify-content-center">
        <a href="/Usuario/Listar" >Listagem dos usuários</a>
    </div>
    <div class="col-6 ">
        <a href="/Pacote/Listar">Listagem dos pacotes</a>
    </div>
</div>